*{
	list-style: none;
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	padding-top: 50px;
}
h1{
	color: #777;
	text-align: center;
	margin-bottom: 30px;
}
label{
	display: block;
	color: #888;
	font-size: 12px;
	text-align: center;
	font-weight: 300;
}
ul{
	padding: 20px;
	padding-left: 30px;
	border: 1px solid #a1dbfb;
	border-radius: 2px;
	margin: 20px 15px 0 15px;
	width: 370px;
}
li{
	list-style-type: circle;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #666;
}
.container{
	position: relative;
	width: 1170px;
	margin: 0 auto;
	height: 100%;
}
.page{
	margin-top: 5px;
	padding: 4px 7px;
	display: inline-block;
	margin-right: 7px;
	cursor: pointer;
	border: 1px solid #8fceec;
	color: #48a9c9;
	border-radius: 2px;
}
.page:hover{
	color: #61d1f6;
}
.activePage{
	background: #8fceec;
	color: #fff;
}
.pages{
	position: absolute;
	bottom: -100px;
	right: 0;
	left: 0;
	text-align: center;
}
.linkInput{
	display: block;
	margin: 0 auto;
	padding: 5px 7px;
	background: #fff;
	outline: none;
	width: 200px;
	height: 30px;
	border: 1px solid #dadada;
	border-radius: 3px;
	margin-top: 2px;
	margin-bottom: 20px;
}
.fetchButton{
	margin: 0 auto;
	display: block;
	background: #258fc0;
	padding: 7px 10px;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	border: none;
	color: white;
}
.fetchButton:hover{
	background: #5ab8e4;
}

.column-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column-rss {
	max-width: 400px;
}

.list {
	width: 100%;
	border: 1px solid red;
	padding: 0 0 0 20px;
}

.list-item {
	cursor: pointer;
}

.channel-item {
	cursor: pointer;
}

.errMessage{
	margin-top: 15px;
	color: red;
	text-align: center;
}

.channel {
	border: 1px solid green;
	text-align: center;
}


.button-plus {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d23f31;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	outline: none;
}
.button-plus i {
	font-size: 34px;
}
.main__content--modal {
	width: 912px;
	height: 532px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 10px 10px 6px 0 rgba(0,0,0,0.16);
	border: solid 1px #707070;
	position: absolute;
	left: 225px;
	top: 117px;
	z-index: 999;
}
.main__content--modal-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	background-color: #444;
	border: solid 1px #707070;
	color: #fff;
	padding: 0 20px 0 30px;
	border-radius: 4px 4px 0 0;
}
.main__content--modal-close {
	text-decoration: none;
	color: #fff;
	font-size: 28px;
	margin-top: 4px;
}
.main__content--modal-close:hover {
	text-decoration: none;
	color: #fff;
	opacity: 0.8;
}



.main__content--modal-buttons {
	display: flex;
	justify-content: flex-end;
	padding-right: 27px;
	padding-left: 27px;
}
.main__content--modal-cancel {
	width: 90px;
	height: 36px;
	border-radius: 2px;
	background-color: #fff
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
	border: solid 1px #009688;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	text-transform: uppercase;
	color: #009688;
	cursor: pointer;
	margin-right: 12px;
	margin-top: 10px;
}
.main__content--modal-cancel:hover {
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
	opacity: 0.8;
}



.modal_border:after {
	position: absolute;
	content: '';
	border: solid 1px #666;
	width: 100%;
	left: 0;
	top: 40px;
}
.modal {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
